vim/.netrwhist
*.swp
bin/.DS_Store
bin/advpng
bin/backup
bin/backup.config
bin/backup.ftp
bin/convert-gif2png
bin/find.BOM
bin/git-whats-new
bin/memcached.delete
bin/memcached.flush
bin/mkpasswrd
bin/optimize-png
bin/pbcopy
bin/pg.diff
bin/pg.diff.index
bin/phantomjs
bin/php.cleanspaces
bin/php.clone
bin/php.define.usage
bin/php.function.usage
bin/php.lint
bin/php.locale.usage
bin/php.socket
bin/php.test
bin/php.update.includes.py
bin/phplint
bin/runonsave.py
bin/strace.process
bin/test.256.pl
bin/test.gzip
bin/trim
bin/upgradedb
vim/bundle/!vundle
vim/bundle/
tmux/plugins/!tpm
tmux/plugins/
